@import "../../assets/css/mixins.scss";
@import "../../assets/css/colors.scss";

.transaction-status-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cover-content {
    @include cover-content-styles($color-white);
  }

  .status-wrapper {
    background-color: $color-white;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 8px;

    .icon-status {
      margin-bottom: 2rem;
      text-align: center;
    }

    .pay-detail {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .final-transaction-status {
        h2 {
          margin: 0 auto;
        }

        ul {
          max-width: 450px;
          width: 100%;

          li {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .title-text {
              width: 140px;
            }

            .value-text {
              width: 240px;
              text-align: right;
            }
          }
        }
      }
    }
  }
}

@include mq-small-device {
  .transaction-status-container {
    .cover-content {
      @include cover-content-styles-mq-small-device;
    }
  }
}

@include mq-extra-small-device {
  .transaction-status-container {
    .status-wrapper {
      .pay-detail {
        .final-transaction-status {
          h2 {
            font-size: large;
          }

          ul {
            padding: 10px;

            li {
              flex-direction: column;

              .value-text {
                width: 240px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
