@import "../../assets/css/mixins.scss";
@import "../../assets/css/colors.scss";

.transaction-status-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cover-content {
    @include cover-content-styles($color-white);
  }
}

@include mq-small-device {
  .transaction-status-container {
    .cover-content {
      @include cover-content-styles-mq-small-device;
    }
  }
}
