@import "./../../../../assets/css/colors.scss";
@import "./../../../../assets/css/mixins.scss";

.product-detail-container {
  .product-detail-wrapper {
    @include flex-row-center;
    align-items: stretch;
    gap: 1rem;
    padding: 2rem;

    .title-text {
      display: inline-block;
      width: 100px;
      font-weight: 600;
    }

    .product-detail {
      background-color: $color-white;
      border-radius: 8px;
      display: flex;
      flex-grow: 12;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 1rem;

      &-image {
        height: 250px;
        max-width: 400px;

        img {
          border-radius: 5px;
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .product-payment-method {
      flex-grow: 3;
      background-color: $color-white;
      padding: 1rem;

      ul {
        width: -webkit-fill-available;
      }

      ul li {
        display: flex;
        justify-content: space-between;

        .title-text {
          width: 140px;
        }
      }
    }
  }
}

@include mq-small-device {
  .product-detail-container {
    .product-detail-wrapper {
      flex-wrap: wrap;
    }
  }
}
