//  ** Main colors **
$color-primary: #8bc34a;
$color-secondary: #ffb74d;
$color-tertiary: #4fc3f7;
$color-text: #333;

// ** General colors **
$color-blue-dark: #11240e;
$color-white: #fff;

// ** Transparents **
$color-rgba-tertiary: rgba(51, 51, 51, 0.85);
$color-rgba-black-shadows: rgba(0, 0, 0, 0.6);
