@import "./../../assets/css/colors.scss";
@import "./../../assets/css/mixins.scss";

.cover-content-container {
  @include flex-row-center;
  background-color: $color-blue-dark;
  position: relative;
  width: 100%;

  .image {
    height: 65vh;

    .cover-bg-image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      left: 0;
      opacity: 0.28;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
