@import "../assets/css/colors.scss";
@import "../assets/css/mixins.scss";

.nav-list {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 2rem;

  a {
    color: $color-white;
    transition: color 0.3s ease;

    &:hover,
    &.active {
      color: $color-secondary;
      font-weight: 600;
    }
  }
}

@include mq-medium-device {
  .nav-list {
    align-items: flex-end;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 3rem;

    & li a {
      color: $color-primary;
      font-size: 32px;
    }
  }
}
