@import "../../../assets/css/mixins.scss";
@import "../../../assets/css/colors.scss";

.input-wrapper {
  display: flex;
  flex-direction: column;

  label {
    @include app-label;
  }

  input {
    @include app-input;
  }

  span {
    color: $color-red-validations;
    font-size: x-small;
    line-height: 15px;
  }
}
